# Carpetas de compilación
bin/
obj/

# Configuración de Visual Studio
.vs/
*.user
*.suo

# Logs y temporales
*.log
*.tmp

# Archivos de publicación
publish/

# Configuración sensible local
appsettings.Development.json
